/* Google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:ital,wght@0,300;1,400&display=swap');

/*  Variables */

:root {
    --header-height : 3rem;
    --font-semi : 600;

}
:root {
    --first-color : #007bff;
    --second-color : #6c757d;
    --gradient-color : linear-gradient(to right, #007bff, #6c757d);
}

/* Font style */
:root {
    --body-font : 'Poppins', sans-serif;
    --big-font-size : 2rem;
    --h2-font-size : 1.5rem;
    --normal-font-size : 0.938rem;
}


/* :Media screen width : 768px */

@media screen and (min-width: 768px) {
    :root {
        --big-font-size : 3.5rem;
        --h2-font-size : 2rem;
        --normal-font-size : 1rem;
    }
    
}

/* Margins */
:root {
    --mb-1 : 0.5rem;
    --mb-2 : 1rem;
    --mb-3 : 1.5rem;
    --mb-4 : 2rem;
    --mb-5 : 2.5rem;
    --mb-6 : 3rem;

}

/* Z-index */
:root {
    --z-back : -10;
    --z-normal : 1;
    --z-tooltip : 10;
    --z-fixed : 100;
   
}

/* Base */
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,p {
    margin: 0;
   
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*  CUSTOM CSS CLASSES */

/* Layout  */

.bd-grid {
    max-width: 1024px; 
    /* so that all the content willbe inside grid */
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);

}

.header {
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,0.15);
}

/* Navbar */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (min-width: 768px) {
    .nav_menu{
        position: fixed;
        top:var(--header-height);
        right: 0;
        width: 80%;
        height: 100%;
        padding:2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}